*
{
    padding: 0;
    margin: 0;
}
/* Orange */
.main
{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: orangered;
    font-family: 'RocknRoll One', sans-serif;
}
.main-text
{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 250%;
    color: white;
}
.main-slogan
{
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 200%;
    color: white;
}
.main-photo
{
    position: absolute;
    top: 25%;
    left: 45%;
    border: 1px solid black;
    width: 40%;
    height: 40%;
    border-radius: 50%; 
}
.main-photo img
{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}
/* რატომ ჩვენ? */
.why
{
    position: absolute;
    left: 0%;
    top: 100%;
    width: 100%;
    height: 70%;
    background-color: rgb(100, 12, 12);
}
.why-img
{
    position: absolute;
    top: 25%;
    left: 55%;
    width: 20%;
    height: 40%;
}
.why-img img
{
    width: 100%;
    height: 100%;   
}
.why-text
{
   position: absolute;
   top: 10%;
   left: 20%; 
   font-size: 200%;
   color: white;
}
.why-main
{
    position: absolute;
    top: 35%;
    left: 10%;
    width: 30%;
    font-size: 150%;
    color: white;
}
.footer
{
    position: absolute;
    top: 170%;
    left: 0%;
    width: 100%;
    background-color: black;
    font-size: 150%;
    color: white;
}